# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea

# Package Files #
/**/target/*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.iml
**/*.iml
**/rebel.xml
**/.flattened-pom.xml

#file
/log
/logs
/target
**/target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#过滤mac的.DS_Store文件
.DS_Store

